.t\:size-24 { font-size: size(24); }
.t\:size-14 { font-size: size(14); }
.t\:size-15 { font-size: size(15); }
.mb-15 { margin-bottom: size(15); }
.mb-40 { margin-bottom: size(40); }
.mb-22 { margin-bottom: size(22); }
.w-250 { width: size(250); }
.t\:size-20 { font-size: size(20); }
