<header id="header" class="header" data-scroll-offset>
    <div class="container">
        <div class="header__inner">
            <button type="button" class="btn btn-primary btn-primary--md btn--theme-white _icon header__btn"
                id="menu-modal-open">
                <svg class=" icon t:size-24">
                    <use xlink:href="svg-sprite/sprite.svg#icon-menu"></use>
                </svg>
                <span>Наши услуги</span>
            </button>
            <a href="/" class="logo">
                <img src="images/global/logo.png" alt="Logo">
            </a>
            <div class="header__contact">
                <a href="tel:+79999999999" class="phone link-decor t:600 text">+7 (999) 999-99-99</a>
                <button type="button" class="link t:size-14 t:500 header__call" data-trigger="#modal-form, modalOpen">
                    Заказать звонок
                </button>
            </div>
        </div>
    </div>
</header>