$color-primary: #4a928f;
$color-primary-hover: #54a5a2;
$color-primary-active: #65b1ae;
$color-secondary: #522e18;
$color-secondary-hover: #714021;
$color-secondary-active: #90512a;

//$color-black:;
//$color-grey:;
//$color-white:;
