<div id="menu-modal" class="menu-modal">
    <div class="menu-modal__wrapper">
        <div class="container box-y">
            <div class="menu-modal__box">
                <div class="menu-modal__item">
                    <div class="menu-modal__content ">
                        <a href="#" class="menu-modal__content-item">
                            <div class="menu-modal__content-img">
                                <img src="images/global/logo-1.png" alt="1">
                            </div>
                            <div class="menu-modal__content-info">
                                <span>системы безопасности</span>
                                <svg class="icon t:size-15">
                                    <use xlink:href="svg-sprite/sprite.svg#icon-arrow-up"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="menu-modal__content-item">
                            <div class="menu-modal__content-img">
                                <img src="images/global/logo-2.png" alt="1">
                            </div>
                            <div class="menu-modal__content-info">
                                <span>строительно-монтажные работы</span>
                                <svg class=" icon icon--color-primary t:size-15">
                                    <use xlink:href="svg-sprite/sprite.svg#icon-arrow-up"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="#" class="menu-modal__content-item">
                            <div class="menu-modal__content-img">
                                <img src="images/global/logo-3.png" alt="3">
                            </div>
                            <div class="menu-modal__content-info">
                                <span>инженерные системы</span>
                                <svg class=" icon t:size-15">
                                    <use xlink:href="svg-sprite/sprite.svg#icon-arrow-up"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="menu-modal__item">

                </div>
            </div>
        </div>
    </div>
</div>